[submodule "plugins/twoface"]
	path = plugins/twoface
	url = git@github.com:wrktg/twoface.git
[submodule "plugins/private-page-login"]
	path = plugins/private-page-login
	url = git@github.com:wrktg/private-page-login.git
[submodule "themes/wrktg-p2"]
	path = themes/wrktg-p2
	url = git@github.com:wrktg/wrktg-p2.git
[submodule "plugins/wp-cli-thinkup-import"]
	path = plugins/wp-cli-thinkup-import
	url = git@github.com:wrktg/wp-cli-thinkup-import.git
